# Required by the dsc python library
numpy
psutil
tqdm


# Only used for testing and benchmarking
matplotlib
PyQt5
pytest
tabulate
ruff
pyright
cupy-cuda12x
transformers # Tokenizers for examples/models