# Required by the dsc python library
numpy
psutil
torch # TODO: find a simpler way of loading models without the need to pull PyTorch
tqdm


# Only used for testing and benchmarking
matplotlib
PyQt5
pytest
tabulate
ruff
pyright
cupy-cuda12x
transformers # Used to load examples/models